.coveralls-text-badge {
  font-size: 0.75em;
  font-weight: bold;
  line-height: 20px;
  text-align: center;
  display: inline;
  color: white;
  width: 40px;
  position: absolute;
  right: 0;
}

.coveralls-text-badge::before {
  content: attr(data-badge-text);
}

.coveralls-uncov {
  background-color: rgba(216, 134, 123, 0.2);
}

.coveralls-cov {
  background-color: rgba(208, 233, 153, 0.2);
}

.coveralls-uncov-darker {
  background-color: rgba(185, 73, 71, 0.7);
  transition: all 0.6s ease;
}

.coveralls-cov-darker {
  background-color: rgba(95, 151, 68, 0.7);
  transition: all 0.6s ease;
}

.coveralls-percent-badge {
  display: inline-block;
  margin: 0px 3px;
}

.coveralls-percent-badge svg {
  display: inline-block;
  vertical-align: middle;
}

.coveralls-spinner {
  border: 3px solid #f3f3f3;
  border-radius: 50%;
  border-top: 3px solid #3498db;
  width: 15px;
  height: 15px;
  animation: coveralls-spin 0.5s linear infinite;
}

@keyframes coveralls-spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

td.coveralls-table-column {
  width: 100px;
}
