.coveralls-uncov-badge {
  font-size: 0.75em;
  font-weight: bold;
  line-height: 20px;
  text-align: center;
  display: inline;
  color: #fff;
  background-color: #b94947;
  width: 40px;
  position: absolute;
  right: 0;
}

.coveralls-uncov-badge::before {
  content: 'uncov';
}

.coveralls-percent-badge {
  padding-right: 10px;
  padding-left: 10px;
}

